jaxb5/src/main/resources/xsd/LisasProduct.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xs:schema xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" jaxb:version="2.1">
	<xs:element name="PriceList">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="Vendor">
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property name="vendors" />
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Vendor">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>